language: rust
rust:
    - stable
    - beta
    - nightly
matrix:
    allow_failures:
        - rust: nightly
before_install:
    - sudo apt-get -qq update
    - sudo apt-get install -y libfuse-dev
script:
    - cargo build
    - cargo test
    - cd example
    - cargo build
    - cargo test
