[package]
name = "fuse_mt"
version = "0.1.1"
authors = ["William R. Fraser <wfraser@codewise.org>"]
repository = "https://github.com/wfraser/fuse_mt"
description = "A higher-level FUSE filesystem library with multi-threading and inode->path translation."
keywords = ["fuse", "filesystem"]
license = "MIT/Apache-2.0"
readme = "README.md"

[dependencies]
fuse = "0.3"
libc = "0.2"
log = "0.3"
threadpool = "1.0"
time = "0.1"
